<section style="background:#efefe9;">
  <div class="container">
      <div class="board">
          <!-- Navigation Area (Circular Tabs) -->
          <msw-navbar></msw-navbar>
          <!-- End Navigation Area (Circular Tabs) -->

          <!-- Content Area -->
          <div class="tab-content">
              <!-- Nested view  -->
              <router-outlet></router-outlet>
          </div>
          <!-- End Content Area -->
      </div>

      <!-- For Debugging: show our valid formData -->
      <pre>{{ formData | json }}</pre>
  </div>
</section>